In [2]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_excel(r"C:\Users\ayshu\Downloads\iris.xls")

In [21]:
df.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [24]:
# Check for missing values in the dataset
print(df.isnull().sum())

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [27]:
df.fillna(df.mean(), inplace=True)

C:\Users\ayshu\AppData\Local\Temp\ipykernel_21696\3550944610.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [28]:
print(df.isnull().sum())

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [30]:
# Assuming the 'Classification' column is the target variable and rest are features
X = df.drop('Classification', axis=1)  # Features
y = df['Classification']  # Target variable

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [32]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Initialize models
models = {
    'Logistic Regression': LogisticRegression(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
}

# Iterate through each model and fit/predict
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {accuracy}")

Logistic Regression Accuracy: 1.0
K-Nearest Neighbors Accuracy: 0.9666666666666667